<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
        <label>
            <p>Name</p>
            <input type="text" name="name">
        </label>
        <label>
            <p>Birthyear</p>
            <input type="text" name="birthyear">
            <p>This year</p>
            <input type="text" name="end">
        </label>
        <label>
            <p>Burgers</p>
            <input type="text" name="burgers">
            <p>Fries</p>
            <input type="text" name="fries">
            <p>Drinks</p>
            <input type="text" name="drinks">
        </label>
    </form>
  </body>
</html>